@charset "UTF-8";


.columns {
	display : flex;
	justify-content: center;
	align-content: center;
	height : 100vh;
	width : 100%;
	
	
}
.menu{
	white-space: nowrap;
	display : flex;
	height :100%
	
}

.menu ul {
	list-style: none;
	
}


.menu li a:hover{
	color : #78EFAD;
}


#menu1 {
	padding : 5px;
	border-bottom : 2px solid black; 
	
}

.menu li a {
	text-decoration: none;
	color : black;
	
}

