@charset "UTF-8";

.columns {
	display : flex;
	height : 80vh;
	width : 100%;
	background: linear-gradient(to bottom, white, lightgray);
	
	
}
.menu{
	white-space:nowrap;
	display : flex;
	height : 108%;
	
}

.menu ul {
	list-style: none;
	
}


.menu li a:hover{
	color : #78EFAD;
}


#menu1 {
	padding : 5px;
	border-bottom : 2px solid black; 
	
}

.menu li a {
	text-decoration: none;
	color : black;
	
}

.pwSearchFrm{
	display : flex;
	flex-direction : column;
	margin : 0 auto;
    	
}