@charset "UTF-8";
\: root {
	--text-color :#f0f4f5;
	--background-color : #263343;
	--accent-color : #d49466;
	
	
}




body{
	margin : 0;
	font-family: 'Sunflower', sans-serif;
}


.navbar a {
	text-decoration: none;
	color : var(--text-color);
	
}



.navbar{
	display : flex; 
	justify-content: space-between;
	align-items: center;
	background-color : lightgrey;
	padding : 8px 24px;
}


.navbar__logo{
	font-weight : bold;
	font-size : 35px;	
	color : white;
	
}
.navbar__logo i{
	color : #d49466;
	
}

.navbar__menu {
	color:black;
	font-size : 20px;
	display : flex;
	list-style : none;
	padding-left : 0;
	
}

.navbar__menu li {
	color:black;
	padding : 8px 12px;
	
}

.navbar__menu li:hover{
	cursor: pointer;
	background-color : #91F8D0;
	border-radius: 10px;
	
}

.navbar__icons {
	
	list-style : none;
	color : black;
	display : flex;
	padding-left : 0;
	
}

.navbar__icons li{
	font-size : 24px;
	padding : 8px 12px;
	
}

.navbar__toogleBtn {
	display : none;
	position : absolute;
	right : 32px;
	font-size : 24px;
}


@media screen and (max-width : 768px) {
	.navbar {
		flex-direction: column;
		align-items: flex-start;
		padding : 8px 24px;
	}
	
	.navbar__menu {
		display : none;	
		flex-direction: column;
		align-items: center;
		width : 100%;
	
	}
	
	.navbar__menu li {
		width : 100%;
		text-align : center;
	}
	.navbar__icons {
		display : none;
		justify-content: center;
		width : 100%;
	}
	
	.navbar__toogleBtn{
		display : block;
	}
	.navbar__menu.active,
	.navbar__icons.active{
		display : flex;
	
	}	
}








