@charset "UTF-8";





.footer {
	text-align: center;
	padding : 30px; 50px;
	margin-top : auto;

}
.footer li{
	list-style: none;
	display : inline;
	padding : 0 7px 0 10px; 
	white-space: nowrap;
	position: relative;
}
.footer li a {
	text-decoration: none;
	color : black;
	
}

.footer li:before { 
	content: '';
	width : 1px;
	height : 12px;
	background-color: #dbdbdb;
	position: absolute;
	left : 0;
	top : 2px;
	
}

.footer address {
	padding-top: 10px;
	
}
.footer address a {
	color : black;
	text-decoration: none;
}