@charset "UTF-8";

<!-- header -->
: root {
	--text-color :#f0f4f5;
	--background-color : #263343;
	--accent-color : #d49466;

}

body{
	margin : 0 auto;
	font-family: 'Sunflower', sans-serif;
}
	
.navbar a {
	text-decoration: none;
	color : var(--text-color);
	
}

.navbar{
	display : flex; 
	justify-content: space-between;
	align-items: center;
	background-color : lightgrey;
	padding : 8px 24px;
}

.navbar__logo{
	font-weight : bold;
	font-size : 35px;	
	color : white;
	
}
.navbar__logo i{
	color : #d49466;
	
}

.navbar__menu {
	font-size : 20px;
	display : flex;
	list-style : none;
	padding-left : 0;
	
}

.navbar__menu li {
	padding : 8px 12px;
	
}

.navbar__menu li:hover{
	cursor: pointer;
	background-color : #91F8D0;
	border-radius: 10px;
	
}

.navbar__icons {
	
	list-style : none;
	color : black;
	display : flex;
	padding-left : 0;
	
}

.navbar__icons li{
	font-size : 24px;
	padding : 8px 12px;
	
}

.navbar__toogleBtn {
	display : none;
	position : absolute;
	right : 32px;
	font-size : 24px;
}


@media screen and (max-width : 768px) {
	.navbar {
		flex-direction: column;
		align-items: flex-start;
		padding : 8px 24px;
	}
	
	.navbar__menu {
		display : none;	
		flex-direction: column;
		align-items: center;
		width : 100%;
	
	}
	
	.navbar__menu li {
		width : 100%;
		text-align : center;
	}
	.navbar__icons {
		display : none;
		justify-content: center;
		width : 100%;
	}
	
	.navbar__toogleBtn{
		display : block;
	}
	.navbar__menu.active,
	.navbar__icons.active{
		display : flex;
	
	}	
}



	<!-- RESET -->
	*{
		margin: 0 auto;
		padding: 0;
		font-size: 24px;
		color: #fff;
	}
	
	a{
		text-decoration: none;
	}
	
	li{
		list-style: none;
	}
	.clearfix::before, .clearfix::after{display: block; content: ''; clear: both;}
	
	#wrap{
		margin: 0 auto;
		width: 100%;
	}
	
	<!-- contents -->
	.contents{
		margin: auto;
		text-align: center;
		width: 1400px;
	}
	
	<!-- 메뉴 바 -->
	.menu_nav_wrap {
		position: relative;
        height: 100px; line-height: 100px;
	}
	.menu_nav_wrap .menu-nav{}
	.menu_nav_wrap .menu-nav ul {display: block; padding-inline-start: 40px; text-align: center; margin-top: 40px; margin-bottom: 60px;}
	.menu_nav_wrap .menu-nav ul li {position:relative; display: inline; padding: 0px 30px 0px 30px; margin: 10px 0px 10px 0px;}
	.menu_nav_wrap .menu-nav ul li:first-child {border-left: none;}
	.menu_nav_wrap .menu-nav ul li a{color: #fff;}
	.menu_nav_wrap .menu-nav ul li a:hover{color: red;}
	.menu_nav_wrap .menu-nav ul li span {font-size: 25px; color: #777777;}

}
	<!-- contents -->
	#article{
		style="width: 1700px;	margin: 0 auto;
	}
	#article .food{
		 width: 100%;
	}
	.food ul {display: table; margin-left: auto; margin-right: auto;}
	.food ul li {display: inline-block; width: 350px; padding-bottom: 50px; margin-left: 30px;}
	.food ul li:first-child {margin-left: 0;}
	.food ul li:nth-child(4n+1) {margin-left: 0;}
	.food ul li img {width: 350px; height: 350px;}
	.food ul li div.food_name {text-align:center; font-size: 25px; font-weight: bold; padding-top: 10px; padding-bottom: 10px;}
	.food ul li div.food_price {text-align:center;}
	.food ul li div.food_price .price {font-size: 18px; padding-right: 20px;}
	.food ul li div.food_price .price .size_L {color: red; font-weight: bold; padding-left: 20px;}
	.food ul li div.food_price .price .size_M {color: red; font-weight: bold;}

	
	
	
	
	
